[Unit]
Description=apnscp emergency update check
#After=apnscp-update.service
#Wants=apnscp-update.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "{{ apnscp_build_helper }} --flare && {{ apnscp_build_helper | quote }}"
SuccessExitStatus=1

[Install]
WantedBy=multi-user.target
