
.webmail-container {
	margin: 1em 0;
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 1em;
	position: relative;
	background: #fff;
}

#ch-webmail-modal label {
	display: block;
}

#ch-webmail-modal .location-group {
	font-size: 0.9rem !important;
}

.webmail-logo {
	display: inline-block;
	height: 125px;
	background: url(/images/apps/webmail/webmail-logos.png) 0 0 no-repeat;
	width: 350px;
	right: 15px;
	position: absolute;
}

#url-input {
	width: 90px;
}

#sqmail-logo {
	background-position: 0 0;
}

#horde-logo {
	background-position: 0 -125px;
}

#roundcube-logo {
	background-position: 0 -250px;
}
