#vt100 .ansi1 {
	color: inherit;
}

#vt100 .ansi2 {
	color: inherit;
}

#vt100 .ansi3 {
	color: inherit;
}

#vt100 .ansi4 {
	color: inherit;
}

#vt100 .ansi5 {
	color: inherit;
}

#vt100 .ansi6 {
	color: inherit;
}

#vt100 .ansi7 {
	color: inherit;
}

#vt100 .ansi8 {
	color: inherit;
}

#vt100 .ansi9 {
	color: inherit;
}

#vt100 .ansi10 {
	color: inherit;
}

#vt100 .ansi11 {
	color: inherit;
}

#vt100 .ansi12 {
	color: inherit;
}

#vt100 .ansi13 {
	color: inherit;
}

#vt100 .ansi14 {
	color: inherit;
}

#vt100 .bgAnsi1 {
	background-color: transparent;
}

#vt100 .bgAnsi2 {
	background-color: transparent;
}

#vt100 .bgAnsi3 {
	background-color: transparent;
}

#vt100 .bgAnsi4 {
	background-color: transparent;
}

#vt100 .bgAnsi5 {
	background-color: transparent;
}

#vt100 .bgAnsi6 {
	background-color: transparent;
}

#vt100 .bgAnsi7 {
	background-color: transparent;
}

#vt100 .bgAnsi8 {
	background-color: transparent;
}

#vt100 .bgAnsi9 {
	background-color: transparent;
}

#vt100 .bgAnsi10 {
	background-color: transparent;
}

#vt100 .bgAnsi11 {
	background-color: transparent;
}

#vt100 .bgAnsi12 {
	background-color: transparent;
}

#vt100 .bgAnsi13 {
	background-color: transparent;
}

#vt100 .bgAnsi14 {
	background-color: transparent;
}
