%apnscp_root {{ apnscp_root | quote }}
%apnscp_sysuser {{ apnscp_system_user }}
%apnscp_sysgroup {{ apnscp_system_user }}
%run_apnscp_addin() \
	cd {{ apnscp_root | quote }}/resources/playbooks && \
	ansible-playbook addin.yml --extra-vars=addin=%1
%run_apnscp_update() \
	cd {{ apnscp_root | quote }}/resources/playbooks && \
	ansible-playbook bootstrap.yml --tags=%1 --extra-vars="bootstrapper_acquire_lock=false yum_transaction_hook=update"
